body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
  padding-bottom: 5%;
}



.register-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 380px;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
  color: #666;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.btn {
  width: 100%;
  background: #0d2242;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #0a1a33;
}

.divider {
  margin: 20px 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: .5em;
}

.divider:not(:empty)::after {
  margin-left: .5em;
}

.social-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.social-btn {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}

.social-btn:hover {
  background: #f1f1f1;
}

.login {
  margin-top: 15px;
  font-size: 14px;
}

.login a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}