body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.navbar {
    height: 10vh;
    width: 95vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 40px;
    border-bottom: 2px solid lightgray;
}

.titulo-degradado {
  font-size: 30px;
  font-weight: bolder;
  color: #143c62;

}

.btn{
    border: 0;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    background-color: #143c62;

}

.btn:hover{
    cursor: pointer;
    background-color: #0f2d49;
}

.piso{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.secsion{
    margin: 12px;
    padding: 16px;
    width: 25%;
}

.icon{
    margin: 2px;
    color: white; 
    background-color: #143c62;
    padding: 8px;
    border-radius: 8px;
}

iframe {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    border: none;
    display: block;
    overflow: hidden;
}

.menu{
    background-color: white;
    border-radius: 8px;
    border: 1px solid #6c727e; 
    width: 10vw;
    flex-direction: column;
    padding: 12px;
    position: absolute;
    top: 11%;
    right: 2%;
    flex-wrap: wrap;
    display: none;
}

.x{
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
}

.x:hover{
    cursor: pointer;
    background-color: #143c62;
}

.textSeccion{
    font-size: 14px; 
    color: #6c727e; 
    font-weight: 500;
}

