body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fcfcfc;
}

.text1 {
    color: black;
    width: auto;
    margin: 0;
    font-weight: 600;
}

.textsecundario {
    color: #5f6469;
    width: auto;
    margin: 0;
}

.card {
    display: flex;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    border: solid lightgray 1px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20vw;
    margin: 24px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.btn {
    border: 0;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    background-color: #143c62;

}

.btn:hover {
    background-color: #0d253b;
    cursor: pointer;
}

.btnWhite {
    padding: 8px;
    width: 100%;
    text-align: start;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 8px;
    font-size: 14px;
    align-items: center;
    margin-top: 8px;
    text-align: center;
}

.btnWhite:hover {
    background-color: rgb(211, 211, 211);
    color: white;
    cursor: pointer;
}

.grupo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}