body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #fcfcfc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor {
    display: flex;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    border: solid lightgray 1px;
    width: 60vw;
    flex-wrap: wrap;
    flex-direction: row;
}

p, label{
    width: 70%;
    color: black;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
}

.form-group {
  text-align: left;
  margin:  15px;
  width: 45%;
}

input{
    padding: 8px;
    border-radius: 4px;
    border:  solid lightgray 1px;
    width: 100%;
}

select{
    width: 95%;
    padding: 8px;
    border: solid lightgray 1px;
    border-radius: 8px;
    margin-left: 2%;
    margin-bottom: 8px;
}

.upload-box {
    width: 100%;
    border: 2px dashed #c7c7c7;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    cursor: pointer;
    transition: 0.3s ease;
}

.upload-box:hover {
    background-color: #f0f0f0;
    border-color: #9a9a9a;
}



.upload-icon {
    font-size: 45px;
    color: #777;
    margin-bottom: 10px;
}

.upload-text {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    text-align: center;
}

.upload-sub {
    font-size: 13px;
    color: #777;
    margin-bottom: 20px;
        text-align: center;

}

.upload-btn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease;
    width: 20%;
}

.upload-btn:hover {
    background-color: #f4f4f4;
}

.upload-btn input {
    display: none;
}
