body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f5;
    padding: 24px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

.filtro {
    background-color: white;
    padding: 32px;
    width: 18vw;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin-right: 32px;
    height: max-content;
}



.productos {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardproducto {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 2px solid lightgray;
    border-radius: 24px;
    margin: 30px;
    width: 23%;
    max-height: 30vh;
}

.cardproducto:hover {
    scale: 1.1;
}

.Categorias {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #6c727e;
    width: 20vw;
    flex-direction: column;

    position: absolute;
    top: 450px;
    left: 5%;
    display: none;
    max-height: 50vh;    
    overflow-y: auto;       
    scrollbar-width: thin;
}


.item {
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    width: 80%;
}

.item:hover {
    background-color: #fb7b09;
    cursor: pointer;
}