body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 5%;
  overflow: hidden;
  padding-bottom: 5%;
}
.login-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}
p {
  margin-top: 0;
  color: #666;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
input[type="email"],input[type="password"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 13px;
}
.options a {
  color: #003366;
  text-decoration: none;
}
.btn {
  width: 100%;
  background: #0d2242;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background: #0a1a33;
}
.divider {
  margin: 20px 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
}
.divider::before,.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}
.divider:not(:empty)::before {
  margin-right: .5em;
}
.divider:not(:empty)::after {
  margin-left: .5em;
}
.social-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.social-btn {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}
.social-btn:hover {
  background: #f1f1f1;
}
.register {
  margin-top: 15px;
  font-size: 14px;
}
.register a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}